@use "styles/animations";

@media (max-width: 900px) {
  :host {
    --cy__sale-card--size: 180px;
  }

  .dashboard__item {
    font-size: 10px;
  }

  .dashboard__item-icon {
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

.dashboard {
  &__grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__item {
    flex: 1;
    flex-basis: var(--cy__sale-card--size);
    height: var(--cy__sale-card--size);
    margin: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    background-color: var(--mat-sys-surface-container);

    &:hover {
      background-color: var(--mat-sys-surface-container-high);
      box-shadow: inset 0px 0px 2em var(--mat-sys-primary);
    }

    &-icon {
      font-size: 3rem;
      width: 3rem;
      height: 3rem;
      color: var(--mat-sys-primary);
      opacity: 0.75;
    }

    &-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      h3 {
        font-size: 1.7em;
        line-height: 1.2;
        text-shadow: 0 0 3px black;
        text-align: center;
        margin: 0;
      }
    }

    .dashboard__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0.75rem 1rem;
      overflow: hidden;
    }

    &-price {
      color: var(--mat-sys-primary);
      font-size: 1.4em;
      font-weight: 900;
      align-self: flex-end;
      padding-bottom: 0.25rem;

      small {
        font-size: 0.6em;
      }
    }
  }
}
