<div class="container p-5" data-augmented-ui="tl-2-clip-x tr-2-clip-x br-2-clip-x bl-2-clip-x both">
	<div class="row mb-4">
		<div class="col-12">
			<button backButton
							mat-raised-button>
				<mat-icon>keyboard_arrow_left</mat-icon>
				Zpět
			</button>
		</div>
	</div>

	<div class="row"
			 *ngIf="!isLoading"
	>
		<div class="col-sx-12 col-md-6">
			<h2>{{ isEdit ? item.name : 'Nová měna' }}</h2>

			<form #form="ngForm"
						(ngSubmit)="form.valid && onSubmit()"
			>
				<mat-form-field appearance="standard"
												class="w-100">
					<mat-label>Název</mat-label>
					<input matInput
								 placeholder="Název"
								 name="goodsName"
								 required
								 [(ngModel)]="item.name"
					>
				</mat-form-field>

				<mat-form-field appearance="standard"
												class="w-100">
					<mat-label>Kód (např. CZK)</mat-label>
					<input matInput
								 placeholder="Kód"
								 name="code"
								 type="text"
								 required
								 [(ngModel)]="item.code"
					>
				</mat-form-field>

				<mat-form-field appearance="standard"
												class="w-100">
					<mat-label>Symbol (např. ,-)</mat-label>
					<input matInput
								 placeholder="Symbol"
								 name="symbol"
								 type="text"
								 required
								 [(ngModel)]="item.symbol"
					>
				</mat-form-field>

				<mat-form-field appearance="standard"
												class="w-100">
					<mat-label>Minimální částka (varování)</mat-label>
					<input matInput
								 placeholder="Minimální částka"
								 name="minRechargeAmountWarn"
								 type="number"
								 required
								 [(ngModel)]="item.minRechargeAmountWarn"
					>
				</mat-form-field>

				<mat-form-field appearance="standard"
												class="w-100">
					<mat-label>Maximální částka (varování)</mat-label>
					<input matInput
								 placeholder="Maximální částka"
								 name="maxRechargeAmountWarn"
								 type="number"
								 required
								 [(ngModel)]="item.maxRechargeAmountWarn"
					>
				</mat-form-field>

				<div>
					<button mat-raised-button
									class="w-100"
									color="primary"
									type="submit"
					>
						Potvrdit
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
