<div class="side-menu">

	<mat-nav-list>
		<a *ngIf="userRoles | canAccessRoute: ERoute.SALE"
			[class.active]="router.url === '/' + ERoute.SALE"
			[routerLink]="ERoute.SALE"
			mat-list-item>
			Prodej
		</a>
		<ng-container *ngIf="userRoles | canAccessRoute: ERoute.ADMIN">
			<mat-list-item (click)="adminMenuOpened = !adminMenuOpened"
				class="expandable"
			>
				<mat-icon matListItemIcon> {{ adminMenuOpened ? 'expand_more' : 'chevron_right' }}</mat-icon>
				<div matListItemTitle>Admin</div>
			</mat-list-item>

			<div *ngIf="adminMenuOpened"
				class="sub-menu"
			>
				<a *ngIf="userRoles | canAccessRoute: ERoute.ADMIN_PLACES"
					[class.active]="router.url === '/' + ERoute.ADMIN + '/' + ERoute.ADMIN_PLACES"
					[routerLink]="[ERoute.ADMIN, ERoute.ADMIN_PLACES]"
					mat-list-item
				>
					Místa
				</a>
				<a *ngIf="userRoles | canAccessRoute: ERoute.ADMIN_USERS"
					[class.active]="router.url === '/' + ERoute.ADMIN + '/' + ERoute.ADMIN_USERS"
					[routerLink]="[ERoute.ADMIN, ERoute.ADMIN_USERS]"
					mat-list-item
				>
					Uživatelé
				</a>
				<a *ngIf="userRoles | canAccessRoute: ERoute.ADMIN_GOODS"
					[class.active]="router.url === '/' + ERoute.ADMIN + '/' + ERoute.ADMIN_GOODS"
					[routerLink]="[ERoute.ADMIN, ERoute.ADMIN_GOODS]"
					mat-list-item
				>
					Zboží
				</a>
				<a *ngIf="userRoles | canAccessRoute: ERoute.ADMIN_TRANSACTIONS"
					[class.active]="router.url === '/' + ERoute.ADMIN + '/' + ERoute.ADMIN_TRANSACTIONS"
					[routerLink]="[ERoute.ADMIN, ERoute.ADMIN_TRANSACTIONS]"
					mat-list-item
				>
					Transakce
				</a>
				<a *ngIf="userRoles | canAccessRoute: ERoute.ADMIN_CURRENCIES"
					[class.active]="router.url === '/' + ERoute.ADMIN + '/' + ERoute.ADMIN_CURRENCIES"
					[routerLink]="[ERoute.ADMIN, ERoute.ADMIN_CURRENCIES]"
					mat-list-item
				>
					Měny
				</a>
				<a *ngIf="userRoles | canAccessRoute: ERoute.ADMIN_CHARGE"
					[class.active]="router.url === '/' + ERoute.ADMIN + '/' + ERoute.ADMIN_CHARGE"
					[routerLink]="[ERoute.ADMIN, ERoute.ADMIN_CHARGE]"
					mat-list-item
				>
					Nabíjedlo
				</a>
			</div>
		</ng-container>

		<a *ngIf="userRoles | canAccessRoute: ERoute.PLACE_SELECT"
			[class.active]="router.url === '/' + ERoute.PLACE_SELECT"
			[routerLink]="ERoute.PLACE_SELECT"
			mat-list-item>
			Vybrat místo
		</a>

		<a *ngIf="userRoles | canAccessRoute: ERoute.CHECK_IN"
			[class.active]="router.url === '/' + ERoute.CHECK_IN"
			[routerLink]="ERoute.CHECK_IN"
			mat-list-item>
			Rychloregistrace
		</a>

		<a *ngIf="userRoles | canAccessRoute: ERoute.CARD_INFO"
			[class.active]="router.url === '/' + ERoute.CARD_INFO"
			[routerLink]="ERoute.CARD_INFO"
			mat-list-item>
			Infokartářka
		</a>

		<a (click)="authService.logout()"
			*ngIf="authService.isLogged"
			href="#"
			mat-list-item
		>
			Odhlásit
		</a>

		<mat-list-item class="expandable mt-auto">
			<mat-icon matListItemIcon>person</mat-icon>
			<span *ngIf="user"
				matListItemTitle>{{ user.name }} ({{ user.roles[0] }})</span>
		</mat-list-item>
	</mat-nav-list>
</div>
