.side-menu {
  width: 15rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  .mat-mdc-nav-list {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .mat-mdc-list-item {
    &:not(.expandable) {
      padding-left: 1.5rem; // due to expand icon
    }
    .mdc-list-item__primary-text {
      display: flex;
      align-items: center;
    }
  }

  .sub-menu {
    a[mat-list-item] {
      padding-left: 3rem;
    }
  }

  .user-info {
    margin-top: auto;
  }
}
.mdc-list-item__primary-text {
  display: flex;
  align-items: center;
}
