<div class="container p-5">
  <div class="row mb-4">
    <div class="col-12">
      <button backButton
        mat-raised-button>
        <mat-icon>keyboard_arrow_left</mat-icon>
        Zpět
      </button>
    </div>
  </div>

  @if (!isLoading) {
    <div class="row"
      >
      <div class="col-sx-12 col-md-12">
        <h2>{{ isEdit ? item.name : 'Nový typ zboží' }}</h2>
        <form #form="ngForm"
          (ngSubmit)="form.valid && onSubmit()"
          >
          <mat-form-field
            class="w-100">
            <mat-label>Název</mat-label>
            <input matInput
              placeholder="Název"
              name="goodsName"
              required
              [(ngModel)]="item.name"
              >
          </mat-form-field>
          <mat-form-field
            class="w-100"
            >
            <mat-label>Ikona</mat-label>
            <mat-select name="Ikona"
              [(ngModel)]="item.icon"
              >
              <mat-option [value]="'sports_bar'" class="icon-option">
                <mat-icon>sports_bar</mat-icon>
                Pivo
              </mat-option>
              <mat-option [value]="'restaurant'" class="icon-option">
                <mat-icon>restaurant</mat-icon>
                Jídlo
              </mat-option>
              <mat-option [value]="'wine_bar'" class="icon-option">
                <mat-icon>wine_bar</mat-icon>
                Panák
              </mat-option>
              <mat-option [value]="'category'" class="icon-option">
                <mat-icon>category</mat-icon>
                Ostatní
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-raised-button
              class="w-100"
              color="primary"
              type="submit"
              >
              Potvrdit
            </button>
          </div>
        </form>
      </div>
    </div>
  } @else {
    <div class="d-flex align-items-center justify-content-center w-100">
      <mat-spinner></mat-spinner>
    </div>
  }
</div>
