<button mat-icon-button
	class="close-btn"
	mat-dialog-close
>
	<mat-icon class="close-icon">close</mat-icon>
</button>

<h2 mat-dialog-title>Stornovat</h2>

<div mat-dialog-content>
	<h2 class="mb-0">Poslední nákup</h2>
	@if(lastTransaction) {
		<mat-list role="list">
			@for(item of purchased; track $index) {
				<mat-list-item role="listitem">
					{{item.multiplier}}x {{ item.name }} - {{ item.amount }}Kč
				</mat-list-item>
				@if(!$last) {
					<mat-divider></mat-divider>
				}
			}
		</mat-list>

		<h2 class="mb-0 mt-3">Celkem {{ lastTransaction.amount }}Kč</h2>
	}
	<button mat-raised-button
		color="primary"
		class="submit-btn"
		mat-dialog-close
		(click)="submit()"
	>
		Stornovat
	</button>
</div>
