<mat-form-field [class]="class">
  <mat-label>{{ label }}</mat-label>
  <input type="text"
    matInput
    #inputElement
    [placeholder]="placeholder"
    [formControl]="selectedValue"
    [matAutocomplete]="auto"
    [value]="selectedValue.value.name || ''"
    >
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="propagateValue($event.option.value)">
    @for (option of filteredOptions | async; track option) {
      <mat-option
        [value]="option"
        >
        {{option[primaryDisplayProperty]}}
        @if (secondaryDisplayProperty && option[secondaryDisplayProperty]) {
          ({{ option[secondaryDisplayProperty] }})
        }
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
