<mat-form-field [class]="class">
	<mat-label>{{ label }}</mat-label>
	<input type="text"
		matInput
		#inputElement
		[placeholder]="placeholder"
		[formControl]="selectedValue"
		[matAutocomplete]="auto"
		[value]="selectedValue.value.name || ''"
	>
	<mat-autocomplete #auto="matAutocomplete" (optionSelected)="propagateValue($event.option.value)">
		<mat-option *ngFor="let option of filteredOptions | async"
			[value]="option"
		>
			{{option[primaryDisplayProperty]}}
			<ng-container *ngIf="secondaryDisplayProperty && option[secondaryDisplayProperty]">
				({{ option[secondaryDisplayProperty] }})
			</ng-container>
		</mat-option>
	</mat-autocomplete>
</mat-form-field>
