.mat-option{
  word-wrap:break-word !important;
  white-space:normal !important;
  min-height: 60px;
  height: auto;
  line-height: 20px;
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.mat-option-text{
  line-height:initial !important;
}
