<div class="card-loader"
	[class.hidden]="hidden || (customerService.customer$ | async) !== null"
>
	<svg viewBox="0 0 24 24"
		class="card-loader__icon">
		<use xlink:href="assets/images/icons.svg#icon--signal"></use>
	</svg>
	<h3>Načtěte kartu</h3>

	@if (authService.isDebug) {
		@if (showNewCardButton) {
			<button mat-button
				mat-raised-button
				color="accent"
				class="ms-2 btn btn-outline-dark"
				(click)="debugLoadNewCard()"
			>
				Simulovat novou kartu
			</button>
		}

		<h5 class="mt-4 mb-2 d-flex align-items-center gap-2">
			Karty uživatelů
			<mat-icon [matTooltip]="'Zobrazuje se pouze prvních 10 uživatelů'">info</mat-icon>
		</h5>
		<div class="d-flex flex-wrap gap-2 justify-content-center">
			@for (userCard of userCards | keyvalue; track $index) {
				<button mat-button
					mat-raised-button
					color="warn"
					class="btn btn-outline-dark"
					(click)="loadUserCard(userCard.value)"
				>
					{{ userCard.key }}
				</button>
			}
		</div>
	}

</div>
@if (!focused) {
	<div class="blur-overlay">
		<div class="overlay-background"></div>
		<h1>Pro načítání karet klikni do aplikace</h1>
	</div>
}
