.number-group {
  display: flex;
  align-items: stretch;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;

  .number-value {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 100%;
    font-size: 1.5rem;
  }

  button {
    border-radius: 0;
    width: 50px !important;
    padding: 0.3rem 0;
    font-size: 1.5rem;
  }
}

.submit-btn {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.5rem;
  margin-top: 2rem;
}
