<button mat-icon-button
	class="close-btn"
	mat-dialog-close
>
	<mat-icon class="close-icon">close</mat-icon>
</button>

<h2 mat-dialog-title>{{ data.edit ? 'Upravit položku' : 'Přidat položku' }}</h2>
<h4>{{ data.item.name }}</h4>

<div mat-dialog-content>
	<div class="number-group">
		<button mat-flat-button
			color="primary"
			(click)="count = count - 1"
		>-
		</button>
		<div class="number-value">{{ count }}</div>
		<button mat-flat-button
			color="primary"
			(click)="count = count + 1"
		>+
		</button>
	</div>

	<button mat-raised-button
		color="primary"
		class="submit-btn"
		mat-dialog-close
		(click)="addItem()"
	>
		{{data.edit ? 'Potvrdit' : 'Přidat' }}
	</button>
</div>
