<div class="row">
  <div class="col-sx-12 col-md-6">
    <form #gForm="ngForm"
          [formGroup]="groupForm"
          (ngSubmit)="gForm.valid && saveGroup()"
    >
      <mat-form-field class="w-100">
        <mat-label>Název</mat-label>
        <input matInput formControlName="name" data-testid="form-name"/>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Popis</mat-label>
        <textarea matInput formControlName="description" data-testid="form-description"></textarea>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Barva</mat-label>
        <input
          [style.background]="groupForm.get('color')?.value"
          type="color"
          matInput
          formControlName="color"
          data-testid="form-color"
        />
      </mat-form-field>

      <div>
        <button mat-raised-button
                class="w-100"
                color="primary"
                type="submit"
                data-testid="form-submit"
        >
          Potvrdit
        </button>
      </div>
    </form>
  </div>
</div>
