<div class="summary h-100">
  @if(!isUserLoaded) {
    <div class="p-5 h-100 d-flex align-items-center justify-content-center">
      <app-card-loader (cardIdChange)="loadUserId($event)" [showNewCardButton]="false"></app-card-loader>
    </div>
  }

  @if(isUserLoaded) {
    @if(customerService.currencyAccount) {
      <div class="summary-list">
        @for (item of orderService.items; track item) {
          <div class="summary-item"
            [attr.data-testid]="'basket-item-' + item.item.id"
            >
            <div class="item-info">
              <button mat-icon-button
                color="primary"
                (click)="setItemAmount(item,-1)"
                >
                <mat-icon>remove</mat-icon>
              </button>
              <small class="item-count">{{ item.count }}&times;</small>
              <button mat-icon-button
                color="primary"
                (click)="setItemAmount(item,1)"
                >
                <mat-icon>add</mat-icon>
              </button>
              <small class="item-name">{{ item.item.name }}</small>
            </div>
            <div class="item-actions">
              <button mat-icon-button
                color="warn"
                aria-label="Delete item"
                (click)="orderService.removeItem(item.item.id)"
                data-testid="basket-item-remove"
                >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        }
      </div>

      <div class="summary-actions">
        <div class="summary-totals">
          <div class="total" data-testid="sale-summary-total">
            {{ orderService.total }} Kč
          </div>
          <div [class.text-danger]="totalLeft < -((customerService.currencyAccount$ | async)?.overdraftLimit ?? 0)" class="total-left" data-testid="sale-summary-total-left">
            Zbyde: {{ totalLeft }}
          </div>

          @if (totalLeft < -((customerService.currencyAccount$ | async)?.overdraftLimit ?? 0)) {
            <div data-testid="sale-overdraft-warning" class="text-danger">Překročen limit přečerpání</div>
          }
        </div>

        <button mat-raised-button
          class="submit-btn"
          color="primary"
          [disabled]="orderService.items.length === 0 || totalLeft < -((customerService.currencyAccount$ | async)?.overdraftLimit ?? 0) || payInProgress || customerService.cardExpired"
          (click)="submitOrder()"
          data-testid="sale-submit"
          >
          <span class="d-flex align-items-center">
            Potvrdit
            @if (payInProgress) {
              <app-animated-loader />
            }
          </span>
        </button>
      </div>
    } @else if(customerService.currencyAccountLoading) {
      <div class="d-flex justify-content-center align-items-center h-100 text-center">
        <mat-spinner diameter="48"></mat-spinner>
      </div>
    } @else {
      <div class="d-flex justify-content-center align-items-center h-100 text-center">
        <h3>Uživatel ještě neprovedl první nabití</h3>
      </div>
    }
  }

  @if(EFeatureFlag.PRINTER | isFeatureAllowed) {
    @if(printService.connectInProgress()) {
      <div class="d-flex justify-content-between">
        <span>Připojuji tiskárnu</span>
        <mat-spinner diameter="30"></mat-spinner>
      </div>
    }

    @if(!printService.isConnected() && !printService.connectInProgress()) {
      <hr>
        <div class="print-warning">
          <mat-icon matListItemIcon>print_disabled</mat-icon>
          <button mat-raised-button
            (click)="printService.connect()"
            >
            Připojit tiskárnu
          </button>
        </div>
      }
    }
  </div>
