.summary {
	padding: 1em 1em 2em 1em;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;

	.summary-list {
		height: 70%;
		overflow-y: auto;
		position: relative;

		.summary-item {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 0.5em 0;

			.item-name {
				word-break: break-word;
			}

			&:not(:last-child) {
				border-bottom: 1px solid var(--cy__color--border);
			}

			.item-info {
				display: flex;
				flex-direction: row;
				align-items: center;
				width: 100%;
				cursor: pointer;
				font-size: 1.5em;

				.item-count {
					margin: 0 .3em;
				}

				button {
					display: flex;
					justify-content: center;
					align-items: center;
				}

				mat-icon {
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.item-name {
					width: 100%;
					text-align: center;
				}
			}

			.item-actions {
				mat-icon {
					font-size: 1em;
				}
			}
		}
	}

	.summary-actions {
		margin-top: auto;

		.total {
			font-size: 2.5em;
			text-align: center;
			margin: 1em 0;
		}

		.total-left {
			border-top: 1px solid #bbb;
			padding: 1em;
			text-align: center;
			font-size: 1.5em;
		}

		.submit-btn {
			width: 100%;
			padding: 1.5em 0;
			font-size: 1.5em;

		}
	}
}

.print-warning {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

@media (max-width: 768px) {
  .summary {
    font-size: 10px;
    .summary-list {
      height: 35%;
      overflow: auto;
    }
    .summary-actions {
      margin-top: unset;
    }
  }
}

