<div class="summary">
	<div class="p-5 h-100 d-flex align-items-center justify-content-center" *ngIf="!(customerService.customer$ | async)">
		<app-card-loader (cardIdChange)="loadUserId($event)"></app-card-loader>
	</div>

	<ng-container *ngIf="(customerService.customer$ | async)">
		<div class="summary-list">
			<div class="summary-item"
				*ngFor="let item of orderService.items"
			>
				<div class="item-info">
					<button mat-icon-button
						color="primary"
						(click)="setItemAmount(item,-1)"
					>
						<mat-icon>remove</mat-icon>
					</button>

					<small class="item-count">{{ item.count }}&times;</small>

					<button mat-icon-button
						color="primary"
						(click)="setItemAmount(item,1)"
					>
						<mat-icon>add</mat-icon>
					</button>

					<small class="item-name">{{ item.item.name }}</small>
				</div>

				<div class="item-actions">
					<button mat-icon-button
						color="warn"
						aria-label="Delete item"
						(click)="orderService.removeItem(item.item.id)"
					>
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="summary-actions">
			<div class="total">
				{{ orderService.total }} Kč
			</div>

			<button mat-raised-button
				class="submit-btn"
				color="primary"
				[disabled]="orderService.items.length === 0"
				(click)="submitOrder()"
			>
				Potvrdit
			</button>
		</div>
	</ng-container>
</div>
