<div class="summary h-100">
	<div class="p-5 h-100 d-flex align-items-center justify-content-center" *ngIf="!isUserLoaded">
		<app-card-loader (cardIdChange)="loadUserId($event)" [showNewCardButton]="false"></app-card-loader>
	</div>

	<ng-container *ngIf="isUserLoaded && customerService.currencyAccount">
		<div class="summary-list">
			<div class="summary-item"
				*ngFor="let item of orderService.items"
			>
				<div class="item-info">
					<button mat-icon-button
						color="primary"
						(click)="setItemAmount(item,-1)"
					>
						<mat-icon>remove</mat-icon>
					</button>

					<small class="item-count">{{ item.count }}&times;</small>

					<button mat-icon-button
						color="primary"
						(click)="setItemAmount(item,1)"
					>
						<mat-icon>add</mat-icon>
					</button>

					<small class="item-name">{{ item.item.name }}</small>
				</div>

				<div class="item-actions">
					<button mat-icon-button
						color="warn"
						aria-label="Delete item"
						(click)="orderService.removeItem(item.item.id)"
					>
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="summary-actions">
			<div class="total">
				{{ orderService.total }} Kč
			</div>
			<div [class.text-danger]="totalLeft < -(customerService.currencyAccount$ | async)?.overdraftLimit" class="total-left">
				Zbyde: {{ totalLeft }}
			</div>

			<button mat-raised-button
				class="submit-btn"
				color="primary"
				[disabled]="orderService.items.length === 0 || totalLeft < -(customerService.currencyAccount$ | async)?.overdraftLimit"
				(click)="submitOrder()"
			>
				Potvrdit
			</button>
		</div>
	</ng-container>

	<div *ngIf="isUserLoaded && !customerService.currencyAccount" class="d-flex justify-content-center align-items-center h-100 text-center">
		<h3>Uživatel ještě neprovedl první nabití</h3>
	</div>
</div>
