<button mat-icon-button
  class="close-btn"
  mat-dialog-close
  >
  <mat-icon class="close-icon">close</mat-icon>
</button>

<h2 mat-dialog-title>Nabít kredit</h2>

<div mat-dialog-content>
  <mat-form-field
    class="w-100">
    <mat-label>Částka</mat-label>
    <input matInput
      [(ngModel)]="amount"
      type="number"
      data-testid="charge-amount">
    <div matSuffix>Kč</div>
  </mat-form-field>

  <div class="btn-group predefined"
    role="group"
    aria-label="Basic example">
    @for (value of predefinedAmounts; track value) {
      <button mat-stroked-button
        (click)="amount = value"
        >{{ value }} Kč
      </button>
    }

    @for (item of chargeItems; track item.label) {
      <button mat-stroked-button
        (click)="amount = item.amount"
        >{{ item.label }}
      </button>
    }
  </div>

  <button mat-raised-button
    color="primary"
    class="submit-btn"
    mat-dialog-close
    (click)="submit()"
    data-testid="charge-submit"
    >
    Dobít
  </button>
</div>
