@if (authService.isLogged && !isPublicRoute) {
  <app-top-menu [sideMenu]="sideMenu" [place]="placeService.selectedPlace"></app-top-menu>
}

<mat-drawer-container>
  <mat-drawer #sideMenu
    class="menu-sidebar"
    mode="over"
    position="start"
    >
    <app-side-menu></app-side-menu>
  </mat-drawer>

  <div #mainContent
    [class.full-height]="fullPageHeight"
    class="main-content"
    tabindex="0"
    >

    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

@if (showNetworkAlert) {
  <div class="network-alert">
    <span>Nejste připojeni k internetu. Bez internetu nelze aplikaci používat.</span>
  </div>
}
