:host {
  ::ng-deep {
    .group-buttons {
      button {
        .mdc-button__label {
          color: white;
        }
      }
    }
  }
}
.config-btn-public {
  opacity: 0;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

.very-big {
  font-size: 80px;
  line-height: 80px;
}

.qrcode {
  text-align: center;
}

.group-banner {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  display: inline-block;
}
