<div class="row justify-content-center p-3">
	<div class="col-xs-12 col-md-4">
		<app-card-loader *ngIf="!user"
			(cardIdChange)="setCardId($event)"
			[showNewCardButton]="false"
		/>

		<ng-container *ngIf="!isLoading; else loading">
			<ng-container *ngIf="user && currencyAccount">
				<h2 class="text-center">{{ user.name }} (Členské id: {{ user.memberId }})</h2>
				<h1 class="very-big text-center">{{ currencyAccount.currentAmount }} Kč</h1>

				<div *ngIf="walletCode"
					class="wallet-qrcode mt-5"
				>
					<h4>Načtěte tento kód ve vaší mobilní aplikaci pro propojení peněženky</h4>
					<qrcode [errorCorrectionLevel]="'M'"
						[qrdata]="walletCode"
						[width]="256"></qrcode>
					<h1 class="text-center" style="letter-spacing: 12px; font-size: 40px; margin-top: 16px">{{ walletCode }}</h1>
          <h3>(Na velikosti nezáleží!)</h3>
				</div>
			</ng-container>

			<ng-container *ngIf="cardLoaded">
				<ng-container *ngIf="!currencyAccount">
					<h2 class="text-center">Ještě sis nenabil žádné peníze. Bež na infostánek, nabij si a pak to zkus
						znovu.</h2>
				</ng-container>

				<ng-container *ngIf="!user">
					<h2 class="text-center">Tenhle čip není registrovaný k žádnému uživateli. Bež na infostánek.</h2>
				</ng-container>
			</ng-container>
		</ng-container>
	</div>
</div>

<ng-template #loading>
	<div class="d-flex align-items-center justify-content-center w-100">
		<mat-spinner></mat-spinner>
	</div>
</ng-template>
