@import "../../../assets/styles/sizes";
.sale-container {
  min-height: calc(100vh - #{$mat-toolbar-height});
  margin: -15px;

  .sale-content {
    height: 100%;
  }

  .sale-sidebar {
    width: 300px;
  }
}
