@import "../../../assets/styles/sizes";
.sale-container {
  min-height: calc(100vh - #{$mat-toolbar-height});
  margin: -15px;

  .sale-content {
    height: calc(100vh - #{$mat-toolbar-height});

    &.disabled {
      background: #ccc;
    }
  }

  .sale-sidebar {
    width: 350px;
  }
}
