.mat-mdc-table {
  width: 100%;
  display: table;


  .table-row {
    &:not(.expanded-row) {
      &:hover {
        background: color-mix(in srgb, var(--mat-sys-primary) 10%, transparent);
      }

      &:active {
        background: color-mix(in srgb, var(--mat-sys-error) 10%, transparent);
      }
    }

    &.expanded-row {
      background: color-mix(in srgb, var(--mat-sys-secondary) 10%, transparent);
    }
  }

  .expandable-row {
    cursor: pointer;

    td.mat-mdc-cell:first-child::before {
      content: '\e5cf';
      font-family: 'Material Icons';
      font-size: 1.25rem;
      vertical-align: middle;
      margin-right: 0.5rem;
      display: inline-block;
      transition: transform 300ms ease;
      color: var(--mat-sys-on-surface-variant);
    }

    &.expanded-row td.mat-mdc-cell:first-child::before {
      transform: rotate(180deg);
    }
  }

  .detail-row {
    height: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;

    .detail-content {
      padding: 1rem 0.5rem;
    }
  }
}
//::ng-deep {
.mat-mdc-cell {
  border-bottom-color: color-mix(in srgb, var(--mat-table-row-item-outline-color) 30%, transparent) !important;
}
//}
