.mat-mdc-unelevated-button, .mat-mdc-raised-button, .mat-mdc-fab, .mat-mdc-mini-fab {
	&.mat-unthemed {
		background-color: #1e1e1e !important;
		color: #eeeeee;
	}

	&.mat-warn {
		background-color: #ffeb3b;
		color: rgba(0, 0, 0, 0.87);
	}
}
