.mdc-snackbar {
	&--success {
		.mdc-snackbar__surface {
			color: #d4edda;
			background-color: #66bb6a  !important;
			border-color: #c3e6cb;
		}
	}

	&--danger {
		.mdc-snackbar__surface {
			background-color: #f44336 !important;
			border-color: #f5c6cb;

			.mdc-snackbar__label {
				color: #f8d7da !important;
			}
		}
	}

	.mdc-snackbar__label {
		font-weight: 800 !important;
		font-size: 16px !important
	}
}
