.mat-mdc-option {
  svg {
    height: 24px;
    fill: var(--mat-sys-primary);
  }

  &.mat-active {
    svg {
      fill: var(--mat-sys-on-primary);
    }
  }
}
//::ng-deep {
//  .mat-mdc-select-arrow svg  {
//    //color: var(--mat-form-field-filled-label-text-color) !important;
//    fill: rgba(238, 238, 238, 0.67) !important;
//  }
//}
