.mat-mdc-dialog-container {
  .mdc-dialog__surface {
    background-color: var(--mdc-theme-surface) !important;
  }

  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
    color: var(--mdc-dialog-subhead-color, black);
  }

  .submit-btn {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
