<div class="place-select-container">
	<mat-card class="place-card">
		<mat-card-title>Vyber místo</mat-card-title>
		<mat-card-content>
			<mat-form-field>
				<mat-select [(ngModel)]="place"
					placeholder="Místo">
					<mat-option *ngFor="let place of places"
						[value]="place">
						{{ place.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<div>
				<button color="primary"
					class="w-100"
					mat-raised-button
					[disabled]="!place"
					(click)="selectPlace()"
				>
					Vybrat
				</button>
			</div>
		</mat-card-content>
	</mat-card>
</div>
