.mat-mdc-list-item {
  &:not(:last-child) {
    border-bottom: 1px solid var(--mat-sys-primary);
  }

  .card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
