<button mat-icon-button
	class="close-btn"
	mat-dialog-close
>
	<mat-icon class="close-icon">close</mat-icon>
</button>

<h2 mat-dialog-title>Přidat položku</h2>

<div mat-dialog-content>
	<mat-form-field appearance="standard"
		required
		class="w-100">
		<mat-label>Vyber zboží</mat-label>
		<mat-chip-list #itemSelect
			multiple
		>
			<mat-chip
				*ngFor="let item of selectedOptions"
				(removed)="removeItem(item)"
			>
				{{ item }}
				<button matChipRemove>
					<mat-icon>cancel</mat-icon>
				</button>
			</mat-chip>

			<input
				placeholder="Přidat položku"
				class="mt-3"
				#itemInput
				[matChipInputFor]="itemSelect"
				[matAutocomplete]="autocomplete"
				[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
				(matChipInputTokenEnd)="addItem($event)">
		</mat-chip-list>

		<mat-autocomplete #autocomplete="matAutocomplete" (optionSelected)="itemSelected($event)">
			<mat-option *ngFor="let item of allOptions" [value]="item">
				{{ item }}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>

	<button mat-raised-button
		color="primary"
		class="submit-btn"
		mat-dialog-close
		(click)="onSubmit()"
	>
		Potvrdit
	</button>
</div>
