.mat-mdc-option{
  word-wrap:break-word !important;
  white-space:normal !important;
  min-height: 60px;
  height: auto;
  line-height: 20px;
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
.mat-option-text{
  line-height:initial !important;
}
