<mat-form-field>
	<input type="text" placeholder="Vyhledat podle jména"
		matInput
		[formControl]="selectedUser"
		[matAutocomplete]="auto"
		[value]="selectedUser.value.name"
	>
	<mat-autocomplete #auto="matAutocomplete">
		<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
			{{option.name}}
		</mat-option>
	</mat-autocomplete>
</mat-form-field>

<app-transactions-list *ngIf="selectedUser.value"
	[dataLoader]="loadData"
	[filterBy]="{
			id: selectedUser.value.id
		}"
></app-transactions-list>
