<div class="login-container">
	<mat-card class="login-card">
		<mat-card-title>Login</mat-card-title>
		<mat-card-content>
			<form [formGroup]="loginForm"
				#form="ngForm"
				(ngSubmit)="login()"
			>
				<mat-form-field>
					<mat-label>Jméno</mat-label>
					<input type="email"
						required
						matInput
						formControlName="username"
					>
				</mat-form-field>

				<mat-form-field>
					<mat-label>Heslo</mat-label>
					<input type="password"
						required
						matInput
						formControlName="password"
					>
				</mat-form-field>

				<div>
					<button type="submit"
						color="primary"
						class="w-100"
						mat-raised-button
					>Login
					</button>
				</div>

				<div class="mt-2">
					<button type="submit"
						color="accent"
						mat-raised-button
						(click)="loginAs('admin@test.cz')"
					>
						Admin
					</button>

					<button type="submit"
						color="accent"
						mat-raised-button
						(click)="loginAs('worker@test.cz')"
					>
						Worker
					</button>

					<button type="submit"
						color="accent"
						mat-raised-button
						(click)="loginAs('sales@test.cz')"
					>
						Power sales
					</button>
				</div>
			</form>
		</mat-card-content>
		<ng-container *ngIf="showValidationErrors">
			<div *ngIf="username.invalid"
				class="alert alert-danger">

				<div *ngIf="username.errors?.['required']">
					Vyplňte uživatelské jméno
				</div>

				<div *ngIf="username.errors?.['email']">
					Uživatelské jméno není validní emailová adresa
				</div>
			</div>

			<div *ngIf="password.invalid"
				class="alert alert-danger">

				<div *ngIf="password.errors?.['required']">
					Vyplňte heslo
				</div>
			</div>

			<div *ngFor="let error of errors"
				class="alert alert-danger">
				{{ error }}
			</div>
		</ng-container>
	</mat-card>
</div>
