@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'cyber-theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// specify theme class eg: <body class="my-theme"> ... </body>


// use our theme with angular-material-theme mixin
@include angular-material-theme($cyber-theme);


:root{
  --cy__gap: 1rem;
}


html, body { height: 100%; overflow: hidden;}

.app-logo {
  position: fixed;
  top: 0;
  left:50%;
  height: 100px;
  z-index: 999;
  transform: translateX(-50%);
  img{
    width: 100%;
    height: 100%;
  }
}

// Some overrides goes here
.mat-drawer-backdrop.mat-drawer-shown{
  background-color: rgba(#000000, 0.8);
}

.mat-dialog-container {
  .close-btn {
    float: right;
    top: -24px;
    right: -24px;
  }

  .submit-btn {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
