@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'cyber-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>


  // use our theme with angular-material-theme mixin
  @include angular-material-theme($cyber-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
  .close-btn {
    float: right;
    top: -24px;
    right: -24px;
  }

  .submit-btn {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.5rem;
    margin-top: 2rem;
  }

}
