<button mat-icon-button style="position:absolute;top:8px;right:8px" mat-dialog-close>
  <mat-icon>close</mat-icon>
</button>

<h2 mat-dialog-title>Vybrat kredit</h2>

<div mat-dialog-content>
  <p>Opravdu chceš vybít kredit a vrátit uživateli jeho peníze?</p>
  <mat-divider style="margin-bottom:1rem"></mat-divider>
  <p style="text-align:center;font-size:1.1rem">{{ data.user.name }}</p>
  <p style="text-align:center;font-size:2rem;font-weight:bold">{{ data.account.currentAmount }} Kč</p>

  <button mat-raised-button color="warn" style="width:100%" (click)="confirm()" mat-dialog-close>
    Vybít
  </button>
</div>
