// Some overrides goes here
.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(#000000, 0.8);
}

.mat-dialog-container {
  .close-btn {
    float: right;
    top: -24px;
    right: -24px;
  }

  .submit-btn {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

.main-content {
  min-height: calc(100vh - var(--cy__toolbar--height));
  padding: 15px;
}

.mat-drawer {
  margin-top: -2px;
  margin-left: -2px;
  margin-bottom: -2px;
}

.mat-toolbar {
  border-bottom: 2px solid rgba(var(--cy__color--primary-500), .25);
}

.mat-option {
  svg {
    height: 24px;
    fill: var(--cy__color--primary-500);
  }

  &.mat-active {
    svg {
      fill: rgb(var(--cy__color--primary-contrast-500));
    }
  }
}

.mat-table {
  width: 100%;
  display: table;

  .table-row {
    &:not(.expanded-row) {
      &:hover {
        background: rgba(var(--cy__color--primary-500), .10);
      }

      &:active {
        background: rgba(var(--cy__color--warn-500), .10);
      }
    }

    &.expanded-row {
      background: rgba(var(--cy__color--accent-500), .10);;
    }

    td {
      border-bottom-width: 0;
    }
  }

  .detail-row {
    height: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;

    .detail-content {
      padding: 1rem 0.5rem;
    }
  }
}
