:root {
  --cy__gap: 1rem;
  --cy__toolbar--height: 64px;
  --cy__sale-card--size: 240px;

  --cy__color--background: #{rgb.toValues(map-get($dark-theme-background,background))};
  --cy__color--border: #{rgb.toValues(map-get($theme-primary,500))};
  --cy__color--primary-500: #{rgb.toValues(map-get($theme-primary,500))};
  --cy__color--primary-contrast-500: #{rgb.toValues(map_get($theme-primary, 'contrast',500))};
  --cy__color--accent-500: #{rgb.toValues(map-get($theme-accent,500))};
  --cy__color--accent-contrast-500: #{rgb.toValues(map_get($theme-accent, 'contrast',500))};
  --cy__color--warn-500: #{rgb.toValues(map-get($theme-warn,500))};
  --cy__color--warn-contrast-500: #{rgb.toValues(map-get($theme-warn, 'contrast',500))};
}
