:root {
  --cy__gap: 1rem;
  --cy__toolbar--height: 64px;
  --cy__sale-card--size: 240px;

  /* rzb theme: primary #f0c100, background #15130e, warn #ffee58 */
  --cy__color--background: 21, 19, 14;
  --cy__color--border: 240, 193, 0;
  --cy__color--primary-500: 240, 193, 0;
  --cy__color--primary-contrast-500: 61, 47, 0;
  --cy__color--accent-500: 240, 193, 0;
  --cy__color--accent-contrast-500: 61, 47, 0;
  --cy__color--warn-500: 255, 238, 88;
  --cy__color--warn-contrast-500: 0, 0, 0;
}

@media (max-width: 768px) {
  :root {
    --cy__toolbar--height: 96px;
  }
}
