@mixin expandable-table($theme) {
  $primary: map-get(map-get($theme, color), primary);
  $accent: map-get(map-get($theme, color), accent);
  $warn: map-get(map-get($theme, color), warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  width: 100%;

  .mat-table {
    width: 100%;
    display: table;

    .table-row {
      &:not(.expanded-row) {
        &:hover {
          background: rgba(map_get($primary, 500),.10);
        }
        &:active {
          background: rgba(map_get($warn, 500),.10);
        }
      }

      &.expanded-row {
        background: rgba(map_get($accent, 500),.10);;
      }

      td {
        border-bottom-width: 0;
      }
    }

    .detail-row {
      height: 0;
    }

    .element-detail {
      overflow: hidden;
      display: flex;

      .detail-content {
        padding: 1rem 0.5rem;
      }
    }
  }

}
