<mat-toolbar class="mat-elevation-z6">
	<div class="toolbar-content">
		<div class="d-flex align-items-center">
			<button mat-icon-button
				(click)="sideMenu.toggle()"
			>
				<mat-icon>menu</mat-icon>
			</button>
			@if((router.events | pageName ) | async; as pageName) {
				{{ pageName }}
				@if(place && pageName === 'Prodej') {
					<span class="place-name">
						({{ place.name }})
					</span>
				}
			}
		</div>
		@if(customer) {
			<div [matTooltip]="'ID: ' + customer.memberId">{{ customer.name }}</div>

			<div class="d-flex align-center flex-wrap">
				@if(customerService.currencyAccount$ | async; as currencyAccount) {
					<span class="currency-amount">
						Zůstatek:
						@if(amountLoading) {
							<mat-spinner diameter="20"></mat-spinner>
						} @else {
							{{currencyAccount.currentAmount ?? 0 }} Kč
						}
					</span>
				} @else {
					<small>Uživatel ještě neprovedl první nabití</small>
				}

				@if(canChargeMoney) {
					<button mat-button
						mat-raised-button
						color="accent"
						class="ms-3"
						(click)="openChargeDialog()"
					>
						Dobít
					</button>
				}
				@if(canChargeMoney && (customerService.currencyAccount$ | async) !== undefined) {
					<button mat-button
						mat-raised-button
						color="warn"
						class="ms-3"
						style="background: #f44336; color: white"
						(click)="openDischargeDialog()"
					>
						Vybít
					</button>

					<button mat-button
						mat-raised-button
						color="warn"
						class="ms-3"
						(click)="openStornoDialog()"
					>
						Storno
					</button>
				}

				<button mat-button
					mat-raised-button
					class="ms-3"
					(click)="customerService.logout()"
				>
					Odhlásit
				</button>
			</div>
		}
	</div>
</mat-toolbar>
