mat-toolbar {
  height: var(--cy__toolbar--height);
  position: relative;
  z-index: 2;

  .toolbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .place-name {
      font-size: 14px;
      margin-left: 1em;
    }
  }
}
