@mixin topmenu-theme($theme) {

  $primary: map-get(map-get($theme, color), primary);
  $warn: map-get(map-get($theme, color), warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $mat-toolbar-height: map-get(map-get($theme, custom), mat-toolbar-height);

  mat-toolbar {
    height: $mat-toolbar-height;
    position: relative;
    z-index: 2;

    .toolbar-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .place-name {
        font-size: 14px;
        margin-left: 1em;
      }
    }
  }
}



