<mat-toolbar class="mat-elevation-z6"
	color="primary"
>
	<div class="toolbar-content">
		<div class="d-flex align-items-center">
			<button mat-icon-button
				class="example-icon"
				(click)="sideMenu.toggle()"
			>

				<mat-icon>menu</mat-icon>
			</button>
			{{ pageName }}
		</div>

		<div *ngIf="userService.isLogged">{{ (userService.user$ | async)?.name }}</div>

		<div *ngIf="userService.isLogged">
			<small class="me-3">Zůstatek: {{(userService.user$ | async)?.credit ?? 0 }} Kč</small>
			<button mat-button
				mat-raised-button
				class="example-icon favorite-icon"
				color="basic"
				(click)="openChargeDialog()"
			>
				Dobít
			</button>
		</div>
	</div>
</mat-toolbar>
